<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
    <div class=".bg-secondary.bg-gradient">
      <div class="d-flex shadow justify-content-between">
        <div class="p-2 btn btn-flat">
          <h1>🍿</h1>
        </div>
          <div>
                <div class="b-5">
                  <%= link_to 'New list', new_list_path(), class:"btn p-4"%>
                  <%= link_to 'My Lists', lists_path(),class:"btn p-4"%>
                </div>
          </div>
      </div>
    </div>

    </header>
    <%= yield %>
  </body>
</html>
